:root{
  --shadow-background: #edf0f7;
  --shadow: #f0f0f0;
  --dark-blue-text: #353333;
  --light-gray-text: #aba8a9;
  --light-blue: #b9c7de;
  --light-blue-rgb: 185, 199, 222;
  --light-purple: #b1b9e4;
  --light-purple-rgb: 177, 185, 228;
  --light-orange: #fe9371;
  --light-orange-rgb: 254, 147, 113;

  font-size: 95%;
}

*, *::after, *::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Ubuntu', sans-serif;
  color: var(--dark-blue-text);
}

a:link{
  text-decoration: none;
}
a:visited{
  color: var(--light-gray-text);
}
a:hover{
  text-decoration: none;
}

ul{
  list-style: none;
}

button{
  border: none;
  background-color: transparent;
}

.padding-m{
  padding: 1em;
}

.padding-l{
  padding: 1.5em 1.5em;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(var(--light-blue-rgb), 0.5);
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
