/* Main containers */
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to top, rgba(var(--light-blue-rgb), 0.7), rgba(var(--light-purple-rgb), 0.7));
}

.app-container{
  display: grid;
  grid-template-columns: 18fr minmax(0, 82fr);
  grid-template-rows: minmax(0, 1fr);
  height: 80vh;
  width: 75vw;
  border-radius: 0.35em;
  background-color: white;
  overflow: hidden;

  box-shadow: 0 1em 2em rgba(0, 0, 0, 5%);
/* If background color is set on body that would color out the whole viewport */
/* That does not happen for background images tho */
}

.main-content{
  display: grid;
  grid-template-columns: minmax(0, 65fr) minmax(0, 35fr);
  grid-template-rows: auto minmax(0, 9fr);
  column-gap: 1em;
}


/* Components */

.side-bar{
  background-color: var(--shadow-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}

.side-bar__header{
  display: flex;
  align-items: center;
  color: black;
  min-height: 0;
  min-width: 0;
}

.side-bar__header ion-icon{
  height: 24px;
  width: 24px;
  transform: scaleX(-100%);
}

.side-bar__header h1{
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 0.5rem;
  letter-spacing: -1px;
}

.side-bar__menu{
  display: flex;
  flex-direction: column;
  gap: 1em;
  min-height: 0;
  min-width: 0;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--light-gray-text);
  /* Solución temporal */
/*   transform: translateY(-50%); */
}

.side-bar__menu > .side-bar__menu__item + .side-bar__menu__item{
/*   margin-top: 1.4em; */
}

.side-bar__menu__item{
  min-height: 0;
  min-width: 0;
}

.side-bar__menu__item span{
  margin-left: 0.5rem;
}

.side-bar__menu__item.is-active{
  position: relative;
  color: black;
}

.side-bar__menu__item.is-active::before{
  position: absolute;
  left: -8%;
  height: 100%;
  width: 3px;
  content: "";
  background-color: black;
  transform: scaleY(150%);
}

.side-bar__button{
  display: flex;
  align-items: center;
  color: var(--light-gray-text);
  font-weight: 700;
  text-align: left;
  padding-top: 1.5em;
  border-top: 0.5px solid var(--light-gray-text);
  min-height: 0;
  min-width: 0;
}

.side-bar__button ion-icon{
  height: 20px;
  width: 20px;
}

.side-bar__button span{
  margin-left: 0.5em;
}

.header{
  display: flex;
  align-items: center;
  grid-column: 1 / -1;
  margin-bottom: 1.6em;
}

.header__name{
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.header__right-flex{
  display: flex;
  align-items: center;
  gap: 0.8em;
  align-items: center;
  margin-left: auto;
}

.header__notification > ion-icon{
  height: 17px;
  width: 17px;
}

.header__user-name{
/*   font-weight: 700; */
}

.header__user-picture{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue);
  border-radius: 50%;
  font-size: 0.9rem;
  padding: 0.3em;
  height: 2em;
  width: 2em;
  font-weight: 700;
  letter-spacing: -1px;
}

.grid-left{
  display: flex;
  flex-direction: column;
}

.navbar{
  height: 2em;
  box-shadow: 0 0.05em var(--light-gray-text);
  flex-basis: auto;
}

.navbar__items-container{
  display: flex;
  height: 100%;
  font-size: 0.85rem;
  font-weight: 500;
}

.navbar__items-container li{
  transition: all 0.3s;
}

.navbar__items-container > li + li{
  margin-left: 2em;
}

.navbar__items-container li:hover{
  box-shadow: 0 0.2em black;
}

.navbar__items-container li.is-active {
  box-shadow: 0 0.2em black;
}

.navbar__items-container li.is-active > a{
  color: black;
}

.navbar__items-container li > a.is-active{
}

.courses{
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
}

.course-item{
  display: flex;
  gap: 1em;
}

.course-separator{
  padding: 1.2em 0;
/*   margin-right: 0.5em; */
}

.course-separator:nth-child(1){
  margin-top: 1em;
}

.courses .course-separator + .course-separator{
  border-top: 0.5px solid var(--shadow-background);
}

.course-item__picture{
  flex-basis: 0;
  flex-grow: 1;
  background-image: linear-gradient(to top left, rgba(var(--light-purple-rgb), 0.8), rgba(var(--light-purple-rgb), 0.5));
  border-radius: 0.1em;
  box-shadow: 0.5em 0.5em var(--shadow-background);
}

.course-item__body{
  flex-basis: 0;
  flex-grow: 2;
  color: var(--light-gray-text);
}

.course-item__body p{
  width: 70%;
  margin-bottom: 1em;
  line-height: 1.4;
}

.course-item__picture{
  display: flex;
  gap: 0.8em;
  flex-direction: column;
  font-size: 0.9rem;
  font-weight: 700;
}

.start-date{
  font-size: 0.95em;
}

.course-price-container{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5em;
  border-top: 1px solid var(--light-gray-text);
  color: var(--light-gray-text);
}

.price{
  color: black;
}

.course-item__body__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--dark-blue-text);
  margin-bottom: 1em;
}

.course-item__body__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.7em;
}

.course-item__body__bottom .categories > li{
  display: inline-block
}

.course-button{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: white;
  background-color: var(--dark-blue-text);
  padding: 0.2em;
}

.course-rate-container{
  display: flex;
  align-items: center;
}

.course-rate{
  margin-left: 0.5em;
}

.status-bar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status-bar > *{
  min-height: 0;
  min-width: 0;
}

.calendar{
  font-size: 0.8rem;
  margin-bottom: 2em;
}

.calendar__header{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.calendar__days{
  display: flex;
  justify-content: space-between;
}

.calendar__day{
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--light-gray-text);
  padding: 0.8em 0.3em;
}

.is-current-day{
  background-color: var(--dark-blue-text);
  color: white;
}

.calendar__day.is-current-day .day-number{
  box-shadow: 0 2px white;
}

.calendar__day > *{
  display: block;
}

.mentors{

}

.mentors h3{
  margin-bottom: 0.5em;
}

.mentors-list{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.mentors-list__item{
  display: flex;
  font-size: 0.7rem;
  align-items: center;
}

.mentor-name{
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.1em;
}

.mentor-info{
  margin-left: 1.5em;
}

.mentor-exp{
  margin-left: auto;
  font-size: 0.95em;
  font-weight: 500;
}

.mentor-role{
  font-weight: 500;
  color: var(--light-gray-text);
}

.mentors-list__item img{
  border: 2px solid var(--light-gray-text);
  width: 15%;
}

.learning-progress{
  box-shadow: 0.5em 0.5em var(--shadow-background), -0.3em -0.3em 2em 0.1em var(--shadow-background);
/*   width: 95%; */
}

.learning-progress h3{
  margin-bottom: 1.2em;
}

.progress-item{
  margin-bottom: 1.1em;
}

.progress-item__flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4em;
  color: var(--light-gray-text);
}

.progress__course{
  font-size: 0.9rem;
}

.progress__percentage{
  margin-left: auto;
  color: black;
  font-weight: 500;
}

.progress__bar{
  position: relative;
  min-height: 0.7em;
  background-image: repeating-linear-gradient(-45deg, white, white 3px, var(--shadow-background) 3px, var(--shadow-background) 6px);
}

.progress__bar__inner{
  position: absolute;
  background-color: var(--dark-blue-text);
  top: 0;
  bottom: 0;
  left: 0;
}

/* This percentages should be changed using JS */
.progress-item:nth-child(1) .progress__bar__inner{
  width: 80%;
}
.progress-item:nth-child(2) .progress__bar__inner{
  width: 20%;
}
.progress-item:nth-child(3) .progress__bar__inner{
  width: 40%;
}
